PORT=5000

# MongoDB connection
# Local:  mongodb://localhost:27017/rbac_api_db
# Atlas:  mongodb+srv://<username>:<password>@<cluster-url>/rbac_api_db?retryWrites=true&w=majority
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-url>/rbac_api_db?retryWrites=true&w=majority
# JWT
JWT_SECRET=replace_this_with_a_long_random_string
JWT_EXPIRES_IN=30m
JWT_REFRESH_SECRET=replace_this_with_another_long_random_string
JWT_REFRESH_EXPIRES_IN=7d
